# 업종 추출 주피터 파일 #

### make_fin 모듈로 만들어진 기본 데이터 세트에 대해서 업종에 해당하는 더미 변수 열을 추가한 파일 ###
### 해당 파일은 2007~2009년 데이터를 기반으로 작성되었다. ###

In [18]:
import pandas as pd

In [19]:
df1 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/최종데이터종합/기업업종 종합/기업명07_09_1.csv',encoding='cp949')
df1.dropna(inplace=True)
df1.reset_index(drop=True,inplace=True)

df1

             회사명  거래소코드     회계년도     통계청 한국표준산업분류 10차(대분류)
0      (주)21세기조선  40736  2006/12                       제조업
1          (주)3Z  12815  2006/12                       제조업
2     (주)DCFTREK  17676  2006/12                       제조업
3       (주)DH케미칼  40581  2006/12                       제조업
4         (주)ENS  30661  2006/12                       제조업
...          ...    ...      ...                       ...
2831        미래생활  13301  2006/12                  도매 및 소매업
2832   미래신용정보(주)  23610  2006/12  사업시설 관리, 사업 지원 및 임대 서비스업
2833   미래알에이씨(주)  40011  2006/12                       건설업
2834    미래애셋주식회사  40240  2006/12                      부동산업
2835    미래엔서해에너지  40722  2006/12     전기, 가스, 증기 및 공기조절 공급업

[2836 rows x 4 columns]

In [20]:
df2 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/최종데이터종합/기업업종 종합/기업명07_09_2.csv',encoding='cp949')
df2.dropna(inplace=True)
df2.reset_index(drop=True,inplace=True)

df2

                회사명  거래소코드     회계년도 통계청 한국표준산업분류 10차(대분류)
0          (주)미래테크빌  44629  2006/12                  부동산업
1          (주)미래테크윈  39534  2006/12                   제조업
2          (주)미래페이퍼  14639  2006/12                   제조업
3         (주)미래홈이엔씨  39841  2006/12                  부동산업
4          (주)미르시스템  47449  2006/12                   제조업
...             ...    ...      ...                   ...
2792  에이치디씨아이파크몰(주)  20369  2006/12                  부동산업
2793    에이치디씨영창주식회사  40503  2006/12                   제조업
2794      에이치디엑스(주)  41326  2006/12              도매 및 소매업
2795   에이치디종합개발주식회사  41033  2006/12                  부동산업
2796     에이치비스틸주식회사  45892  2006/12                   제조업

[2797 rows x 4 columns]

In [21]:
df3 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/최종데이터종합/기업업종 종합/기업명07_09_3.csv',encoding='cp949')
df3.dropna(inplace=True)
df3.reset_index(drop=True,inplace=True)

df3

                 회사명  거래소코드     회계년도 통계청 한국표준산업분류 10차(대분류)
0          (유)유맥에프앤알  14534  2006/12                  부동산업
1           (주)에이치비콥  39765  2006/12              도매 및 소매업
2           (주)에이치시티  43465  2006/12      전문, 과학 및 기술 서비스업
3         (주)에이치씨글로벌  47184  2006/12                   제조업
4       (주)에이치씨보광레미콘  29881  2006/12                   제조업
...              ...    ...      ...                   ...
2781  주식회사삼우씨엠건축사사무소  17953  2006/12      전문, 과학 및 기술 서비스업
2782      주식회사삼우에프앤지  15113  2006/12              운수 및 창고업
2783      주식회사삼우주택건설  41101  2006/12                   건설업
2784       주식회사삼우코리아  17952  2006/12                   제조업
2785       주식회사삼우플랜트  46442  2006/12                   제조업

[2786 rows x 4 columns]

In [22]:
df4 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/최종데이터종합/기업업종 종합/기업명07_09_4.csv',encoding='cp949')
df4.dropna(inplace=True)
df4.reset_index(drop=True,inplace=True)

df4

                회사명  거래소코드     회계년도     통계청 한국표준산업분류 10차(대분류)
0     (유)짐머바이오메트코리아  18711  2006/12                  도매 및 소매업
1         (유)케이원에너지  47069  2006/12                  도매 및 소매업
2           (주)주암테크  30292  2006/12                       제조업
3         (주)주영아이엔씨  41242  2006/12  사업시설 관리, 사업 지원 및 임대 서비스업
4             (주)주원  44228  2006/12                       제조업
...             ...    ...      ...                       ...
2778        탱크테크(주)  44424  2006/12                       제조업
2779         테라셈(주)  29818  2006/12                       제조업
2780     테라코코리아주식회사  19463  2006/12                       제조업
2781     테크노빌리지주식회사  41916  2006/12                       건설업
2782       테크밸리주식회사  11153  2006/12                       제조업

[2783 rows x 4 columns]

In [23]:
df5 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/최종데이터종합/기업업종 종합/기업명07_09_5.csv',encoding='cp949')
df5.dropna(inplace=True)
df5.reset_index(drop=True,inplace=True)

df5

              회사명  거래소코드     회계년도 통계청 한국표준산업분류 10차(대분류)
0        (유)포리코리아  38721  2006/12                   제조업
1     (유)프라이그파이스트  46117  2006/12                   제조업
2     (주)텍스랜드앤넥스코  41691  2006/12                   제조업
3        (주)텐커뮤니티  11001  2006/12                 정보통신업
4         (주)텔레트론  18631  2006/12                   제조업
...           ...    ...      ...                   ...
1543      희창냉장(주)  20563  2006/12              운수 및 창고업
1544     희창물산주식회사  20564  2006/12              도매 및 소매업
1545  희훈아티퍼니처주식회사  20565  2006/12                   제조업
1546   희훈종합건설주식회사  20566  2006/12                   건설업
1547    힐티코리아주식회사  10534  2006/12              도매 및 소매업

[1548 rows x 4 columns]

In [24]:
import numpy as np

df_w = pd.concat([df1,df2,df3,df4,df5],axis=0)
df_w.reset_index(inplace=True,drop=True)
df_w.rename(columns={'회사명':'구분'},inplace=True)
df_w.rename(columns={'통계청 한국표준산업분류 10차(대분류)':'업종'},inplace=True)
df_w.set_index('구분',inplace=True)
df_w = df_w['업종']
df_w
# len(np.unique(df_w.index))

구분
(주)21세기조선           제조업
(주)3Z               제조업
(주)DCFTREK          제조업
(주)DH케미칼            제조업
(주)ENS              제조업
                 ...
희창냉장(주)        운수 및 창고업
희창물산주식회사       도매 및 소매업
희훈아티퍼니처주식회사         제조업
희훈종합건설주식회사          건설업
힐티코리아주식회사      도매 및 소매업
Name: 업종, Length: 12750, dtype: object

In [25]:
df13 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/최종데이터종합/재무비율(더미전)/충격기간/07_09_이자.csv',encoding='cp949')
df13.set_index('구분',inplace=True)
df13 = df13.join(df_w,how='left')
df13['업종'][df13['업종'] != '제조업'] = 1
df13['업종'][df13['업종'] == '제조업'] = 0
ind = df13['업종']
df13.drop('업종',axis=1,inplace=True)
df13.insert(loc=27,column='업종',value=ind)
df13
# 비제조업 1, 제조업 0
df13.to_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/최종데이터종합/재무비율(업종추가)/충격기간/07_09_이자(업종더미).csv',encoding='cp949')
# df13.to_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/재무비율 계산 버전/cross_check/기업재무비율_업종포함/더미화/충격기간/07_09_이자(업종더미).csv',encoding='cp949')
# 업종 추가 결과 데이터 숫자가 더 늘어나게 되는데
# 특정 기업이 여러 업종에서 사업을 진행할 경우 
# 해당 업종별로 개별 데이터로 취급하기 때문이다.

C:\Users\LG\AppData\Local\Temp\ipykernel_12660\1089730414.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df13['업종'][df13['업종'] != '제조업'] = 1
C:\Users\LG\AppData\Local\Temp\ipykernel_12660\1089730414.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df13['업종'][df13['업종'] == '제조업'] = 0

In [26]:
df13 = pd.read_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/최종데이터종합/재무비율(더미전)/충격기간/07_09_영손.csv',encoding='cp949')
df13.set_index('구분',inplace=True)
df13 = df13.join(df_w,how='left')
df13['업종'][df13['업종'] != '제조업'] = 1
df13['업종'][df13['업종'] == '제조업'] = 0
ind = df13['업종']
df13.drop('업종',axis=1,inplace=True)
df13.insert(loc=27,column='업종',value=ind)
df13
# 비제조업 1, 제조업 0
df13.to_csv('C:/Users/LG/Desktop/금융 빅데이터/프로젝트2/코드/최종데이터종합/재무비율(업종추가)/충격기간/07_09_영손(업종더미).csv',encoding='cp949')
# 업종 추가 결과 데이터 숫자가 더 늘어나게 되는데
# 특정 기업이 여러 업종에서 사업을 진행할 경우 
# 해당 업종별로 개별 데이터로 취급하기 때문이다.

C:\Users\LG\AppData\Local\Temp\ipykernel_12660\3617354320.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df13['업종'][df13['업종'] != '제조업'] = 1
C:\Users\LG\AppData\Local\Temp\ipykernel_12660\3617354320.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df13['업종'][df13['업종'] == '제조업'] = 0